table#results {
    border-collapse: collapse;
}

table#results tr:first-child {
    background-color: #cccccc;;
}

table#results tr td, table#results tr th {
    padding-left: 0.3em;
    padding-right: 1em;
}

table#results tr td {
    border-bottom: 1px solid #999999;
}

table#results tr th {
    font-weight: bold;
}